In [ ]:
cnx = connection.MySQLConnection(**config)
    
    req_email = request.form['email']
    req_pass = request.form['password']
    
    cursor = cnx.cursor(buffered=True)
    cursor.execute(f"SELECT * FROM users WHERE Email = '{req_email}'")

    response = []
    if(cursor.rowcount == 1):
        user = [{
            'ID': i[0],
            'Email': i[1],
            'Name': i[2],
            'Surame': i[3],
            'Password': i[4],
            'Phone_number': i[5]} for i in cursor]
        
        if(user[0]['Password'] == req_pass):
            respose = user
        else:
            response = [{
            'error': {
                'code': 1,
                'description': "invalid password"
            }
        }]
    else:
        response = [{
            'error': {
                'code': 0,
                'description': "invlaid email"
            }
        }]

    cnx.close()

In [1]:
from mysql.connector import (connection)
config = {
  'user': 'onlineord',
  'password': 'Bd4tO--2FL7V',
  'host': 'den1.mysql4.gear.host',
  'database': 'onlineord',
  'raise_on_warnings': True
}

In [3]:
req_email = "test@test"
req_pass = "test"

In [15]:
cnx = connection.MySQLConnection(**config)
cursor = cnx.cursor(buffered=True)
cursor.execute(f"SELECT * FROM users WHERE Email = '{req_email}'")

print(cursor.rowcount)

1

In [8]:
user = [{
            'ID': i[0],
            'Email': i[1],
            'Name': i[2],
            'Surame': i[3],
            'Password': i[4],
            'Phone_number': i[5]} for i in cursor]
user

[{'ID': 1,
  'Email': 'test@test',
  'Name': 'Test',
  'Surame': 'Tester',
  'Password': 'test',
  'Phone_number': '123'}]

In [10]:
user[0]['Password']

'test'

In [14]:
if(user[0]['Password'] == req_pass):
    response = user
else:
    response = [{"error":0}]
response

[{'ID': 1,
  'Email': 'test@test',
  'Name': 'Test',
  'Surame': 'Tester',
  'Password': 'test',
  'Phone_number': '123'}]

In [33]:
cnx = connection.MySQLConnection(**config)
cursor = cnx.cursor(buffered=True)

In [31]:
cursor.execute(f"SELECT COUNT(ID) FROM users WHERE Email = '{req_email}'")

for i in cursor:
    res = i

In [34]:
cursor.execute(f"SELECT * FROM users WHERE Email = '{req_email}'")

for i in cursor:
    res = i[4]
res

'test'

In [27]:
cnx = connection.MySQLConnection(**config)
cursor = cnx.cursor()

In [38]:
req = {
    "organization_id": 439,
    "table_id": 1
}

response = {
    'menu': [],
    'discounts': [],
    'dish_of_the_day': {},
    'dish_of_the_week': {}
}

response = {
    'menu': [],
    "discounts": [
            {
                "id": 5,
                "name": "Name",
                "description": "Lorem ipsum dolor sit amet.",
                "image": "image.jpg",
                "price": 128
            },
            {
                "id": 6,
                "name": "Name",
                "description": "Lorem ipsum dolor sit amet.",
                "image": "image.jpg",
                "price": 128
            }
        ],
    "dish_of_the_day": {
            "id": 7,
            "name": "Name",
            "description": "Lorem ipsum dolor sit amet.",
            "image": "image.jpg",
            "price": 128
        },
    "dish_of_the_week": {
            "id": 7,
            "name": "Name",
            "description": "Lorem ipsum dolor sit amet.",
            "image": "image.jpg",
            "price": 128
        }
}

In [8]:
cursor.execute(f"SELECT * FROM menu WHERE Organization_id = {req['organization_id']}")
menu = [{
        'ID': i[0],
        'Title': i[1],
        'Description': i[2],
        'Organization_id': i[3]} for i in cursor]
menu

[{'ID': 100,
  'Title': 'Summer Menu',
  'Description': 'Season menu',
  'Organization_id': 439}]

In [40]:
cnx = connection.MySQLConnection(**config)
cursor = cnx.cursor()
cursor.execute(f"SELECT s.ID, s.submenu_name\
                FROM sub_menu AS s \
                INNER JOIN menu AS m \
                ON s.menu_id = m.ID \
                WHERE m.Organization_id = {req['organization_id']}")
submenus = [{
        'submenu_id': i[0],
        'submenu_name': i[1],
        'items': []} for i in cursor]
# for i in cursor:
#     submenus.append({
#         'submenu_id': i[0],
#         'submenu_name': i[1],
#         'items': []})

for i in submenus:
    cursor.execute(f"SELECT * FROM food WHERE Submenu_id = {i['submenu_id']}")
    item = [{
        'id': j[0],
        'price': j[1],
        'name': j[2],
        'description': 'food',
        'image': j[4],
        'weight': j[5]} for j in cursor]
    i['items'] = item
    
response['menu'] = submenus
response

{'menu': [{'submenu_id': 1,
   'submenu_name': 'Гарячі страви',
   'items': [{'id': 79,
     'price': 60.0,
     'name': 'Maecenas',
     'description': 'food',
     'image': None,
     'weight': 389},
    {'id': 80,
     'price': 92.0,
     'name': 'et',
     'description': 'food',
     'image': None,
     'weight': 480},
    {'id': 81,
     'price': 50.0,
     'name': 'luctus',
     'description': 'food',
     'image': None,
     'weight': 564},
    {'id': 82,
     'price': 2.0,
     'name': 'et',
     'description': 'food',
     'image': None,
     'weight': 773},
    {'id': 105,
     'price': 412.0,
     'name': 'gweg',
     'description': 'food',
     'image': None,
     'weight': 41},
    {'id': 106,
     'price': 412.0,
     'name': 'gweg',
     'description': 'food',
     'image': None,
     'weight': 41},
    {'id': 107,
     'price': 123.0,
     'name': 'egweg',
     'description': 'food',
     'image': None,
     'weight': 123},
    {'id': 108,
     'price': 341.0,
     'name': 'wgeg',
     'description': 'food',
     'image': None,
     'weight': 2412}]},
  {'submenu_id': 2,
   'submenu_name': 'Закуски',
   'items': [{'id': 90,
     'price': 60.0,
     'name': 'ornare',
     'description': 'food',
     'image': None,
     'weight': 734},
    {'id': 91,
     'price': 55.0,
     'name': 'dapibus',
     'description': 'food',
     'image': None,
     'weight': 955},
    {'id': 92,
     'price': 79.0,
     'name': 'pellentesque',
     'description': 'food',
     'image': None,
     'weight': 913},
    {'id': 93,
     'price': 34.0,
     'name': 'volutpat',
     'description': 'food',
     'image': None,
     'weight': 433},
    {'id': 94,
     'price': 25.0,
     'name': 'dignissim',
     'description': 'food',
     'image': None,
     'weight': 733},
    {'id': 95,
     'price': 88.0,
     'name': 'massa.',
     'description': 'food',
     'image': None,
     'weight': 1310}]},
  {'submenu_id': 3,
   'submenu_name': 'Напої',
   'items': [{'id': 83,
     'price': 78.0,
     'name': 'ante.',
     'description': 'food',
     'image': None,
     'weight': 835},
    {'id': 84,
     'price': 51.0,
     'name': 'tincidunt.',
     'description': 'food',
     'image': None,
     'weight': 536},
    {'id': 85,
     'price': 35.0,
     'name': 'erat',
     'description': 'food',
     'image': None,
     'weight': 1010},
    {'id': 86,
     'price': 72.0,
     'name': 'condimentum.',
     'description': 'food',
     'image': None,
     'weight': 985},
    {'id': 87,
     'price': 76.0,
     'name': 'Donec',
     'description': 'food',
     'image': None,
     'weight': 1224},
    {'id': 88,
     'price': 2.0,
     'name': 'urna.',
     'description': 'food',
     'image': None,
     'weight': 473},
    {'id': 89,
     'price': 15.0,
     'name': 'libero.',
     'description': 'food',
     'image': None,
     'weight': 995}]}],
 'discounts': [{'id': 5,
   'name': 'Name',
   'description': 'Lorem ipsum dolor sit amet.',
   'image': 'image.jpg',
   'price': 128},
  {'id': 6,
   'name': 'Name',
   'description': 'Lorem ipsum dolor sit amet.',
   'image': 'image.jpg',
   'price': 128}],
 'dish_of_the_day': {'id': 7,
  'name': 'Name',
  'description': 'Lorem ipsum dolor sit amet.',
  'image': 'image.jpg',
  'price': 128},
 'dish_of_the_week': {'id': 7,
  'name': 'Name',
  'description': 'Lorem ipsum dolor sit amet.',
  'image': 'image.jpg',
  'price': 128}}